*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "bungee";
    src: url(../fontes/Bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: "jost";
    src: url(../fontes/Jost/Jost-VariableFont_wght.ttf);
}

/* Cores 
.color1 { #71af4f };
.color2 { #bfdbb0 };
.color3 { #3a5b29 };
.color4 { #6f8282 };
.color5 { #b3c5a0 };
*/

body{
    background-color: #bfdbb0;
    font-family: "jost";
    overflow-x: hidden;
    color: #3a5b29;
}

header{
    color: white;
    background-color: #3a5b29;
    font-family: "bungee";
    border-radius: 20px;
    width: 98vw;
    height: 9vh;
    margin: 1vw;
    -webkit-box-shadow: 3px 9px 10px 1px #00000096;
    -moz-box-shadow: 3px 9px 10px 1px #00000096;
    box-shadow: 3px 5px 10px 1px #00000096;
}

/* Estilos dos links do header */
ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 2vw;
}

li{
    padding-right: 5vw
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 0.2vw;
}

ul li a:hover{
    background-color: #bfdbb0;
    color: #3a5b29;
    border-radius: 3px;
    transition: all 0.3s;
}

/* Gif do header */
.gif{
    width: 3vw;
    margin-top: -2vh;
}

/* Seção com o título */
section{
    font-family: "bungee";
    font-size: 2vw;
    margin: 15vh 0 0 15vw;
}

/* Estilo da parte que contém os campos de contato */
main{
    margin-top: 2vh;
    display: flex;
    justify-content: left;
    background-color: #b3c5a0;
    height: 50vh;
    -webkit-box-shadow: 3px 0px 10px 1px #00000096;
    -moz-box-shadow: 3px 0px 10px 1px #00000096;
    box-shadow: 3px 0px 10px 1px #00000096;
}

/* Estilo do formulário da tag main */
.formulario{
    margin: 1% 15%;
    font-size: 20px;
}

/* Estilo dos labels do formulário */
.titulo{
    font-weight: bold;
}

/* Estilo dos campos do formulário */
.campo{
    border: none;
    border-radius: 5px;
    background-color: #3a5b29;
    color: #bfdbb0;
    font-family: "jost";
    padding: 10px;
    margin: 0 0 1vh 0;
    resize: none;
    width: 20vw;
}

/* Estilo dos placeholders */
::-webkit-input-placeholder{
    color: white;
    opacity: 60%;
}
:-moz-placeholder{
    color: white;
    opacity: 60%;
} 
::-moz-placeholder{
    color: white;
    opacity: 60%;
}
:-ms-input-placeholder{
    color: white;
    opacity: 60%;
}
 
 
/* Estilo para remover as linhas dos campos */
.campo:focus{
    border: none;
    background-color: #3a5b29;
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
    padding: 10px;
}

/* Estilo do botão do formulário */
.botao{
    background-color: #3a5b29;
    border: none;
    border-radius: 5px;
    width: 21vw;
    height: 5vh;
    color: #b3c5a0;
    font-family: "bungee";
    margin: 3vh 0 0 0;
}

.botao:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-box-shadow: 3px 5px 10px 1px #00000096;
    -moz-box-shadow: 3px 5px 10px 1px #00000096;
    box-shadow: 3px 5px 10px 1px #00000096;
}

/* Estilo do título da parte de redes sociais */
.redes{
    margin: 2.5vw 0 0 10%;
    width: 15vw;
    height: 15vw;
    font-family: "bungee";
    font-size: 1.5vw;    
}

/* Estilo dos ícones das redes sociais */
.iconesRedes img{
    width: 4vw;
}

.iconesRedes img:hover{
    transform: scale(1.1);
}

.iconesRedes a:hover{
    background-color: transparent;
}
