*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "bungee";
    src: url(../fontes/Bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: "jost";
    src: url(../fontes/Jost/Jost-VariableFont_wght.ttf);
}

/* Cores 
.color1 { #71af4f };
.color2 { #bfdbb0 };
.color3 { #3a5b29 };
.color4 { #6f8282 };
.color5 { #b3c5a0 };
*/

body{
    background-color: #bfdbb0;
    font-family: "jost";
    overflow-x: hidden;
    color: #3a5b29;
}

header{
    color: white;
    background-color: #3a5b29;
    font-family: "bungee";
    border-radius: 20px;
    width: 98vw;
    height: 9vh;
    margin: 1vw;
    -webkit-box-shadow: 3px 9px 10px 1px #00000096;
    -moz-box-shadow: 3px 9px 10px 1px #00000096;
    box-shadow: 3px 5px 10px 1px #00000096;
}

/* Estilos dos links do header */
ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 2vw;
}

li{
    padding-right: 5vw
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 0.2vw;
}

ul li a:hover{
    background-color: #bfdbb0;
    color: #3a5b29;
    border-radius: 3px;
    transition: all 0.3s;
}

/* Gif do header */
.gif{
    width: 3vw;
    margin-top: -2vh;
}

/* Seção com o título */
section{
    font-family: "bungee";
    font-size: 2vw;
    margin: 15vh 0 0 15vw;
}

/* Estilo da parte que contém os projetos do portfólio */
main{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    background-color: #b3c5a0;
    height: 50vh;
    -webkit-box-shadow: 3px 0px 10px 1px #00000096;
    -moz-box-shadow: 3px 0px 10px 1px #00000096;
    box-shadow: 3px 0px 10px 1px #00000096;
}

/* Estilo dos cards de projetos */
.cards{
    margin: 3vw 6vw;
    width: 15vw;
    height: 15vw;
    background-size: cover;
    border: 10px solid #3a5b29;
    border-radius: 20px;
    -webkit-box-shadow: 3px 5px 10px 1px #00000096;
    -moz-box-shadow: 3px 5px 10px 1px #00000096;
    box-shadow: 3px 5px 10px 1px #00000096;
}

.c1{
    background-image: url('../img/projetoApad1.jpg');
}

.c1:hover{
    background-image: url('../img/card1.png');
    transform: scale(1.1);
    cursor: pointer;
}

.c2{
    background-image: url('../img/projetoLacarte1.jpg');
}

.c2:hover{
    background-image: url('../img/card2.png');
    transform: scale(1.1);
    cursor: pointer;
}

.c3{
    background-image: url('../img/jogoCartas1.jpg');
}

.c3:hover{
    background-image: url('../img/card3.png');
    transform: scale(1.1);
    cursor: pointer;
}

/* Estilo dos links dos cards */
a{
    color: #3a5b29;
    text-decoration: none;
}

/* Estilos das legendas dos cards */
.legenda1{
    margin: -3vh 11.5vw;
    font-weight: bold;
}

.legenda2{
    margin: -3vh 11vw;
    font-weight: bold;
}
